<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="EcoursApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection"
         connectionString="Data Source=62.109.28.58; Initial Catalog=EcoursDB; User Id=guest_ecours; Password=gst@2020#XXX;"
         providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection"
         connectionString="Data Source=192.168.1.123; Initial Catalog=EcoursDB; User Id=guest_ecours; Password=gst@2020#XXX;"
         providerName="System.Data.SqlClient"/>
    <add name="MainConnection"
         connectionString="Data Source=DESKTOP-XAA\MSSQL14; Initial Catalog=EcoursDB; Integrated Security=true;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <EcoursApp.Properties.Settings>
      <setting name="nTypeConnect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cAppName" serializeAs="String">
        <value>Полезная модель</value>
      </setting>
      <setting name="cExtension" serializeAs="String">
        <value>Нет</value>
      </setting>
      <setting name="nStyleKod" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cUser" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="cRole" serializeAs="String">
        <value />
      </setting>
      <setting name="nRoleId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nTypeLogin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="nUserId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="nSetupLogin" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="flConfidential" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flEnabledSynch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flStyleSynch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flModelsSynch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flOtherSynch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UUID" serializeAs="String">
        <value />
      </setting>
      <setting name="flEnabledStyle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="flStyleInTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flDateInBottom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flKeyInBottom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nAccountId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DataRootDir" serializeAs="String">
        <value>D:\SQLDB\EDOC</value>
      </setting>
      <setting name="flChatAndTasks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatWallPaper" serializeAs="String">
        <value>32, 32, 32</value>
      </setting>
      <setting name="ChatPathImg" serializeAs="String">
        <value />
      </setting>
      <setting name="ChatPathDoc" serializeAs="String">
        <value />
      </setting>
    </EcoursApp.Properties.Settings>
  </userSettings>
</configuration>