<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" 
         connectionString="Data Source=192.168.1.57\SQLEXPRESS; Initial Catalog=EcoursDB; User Id=guest_ecours; Password=gst@2020#XXX;" 
         providerName="System.Data.SqlClient"/>-->
    <!--<add name="DefaultConnection"
         connectionString="Data Source=62.109.28.58; Initial Catalog=EcoursDB; User Id=guest_ecours; Password=gst@2020#XXX;"
         providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection"
         connectionString="Data Source=192.168.2.33; Initial Catalog=EcoursDB; User Id=guest_ecours; Password=gst@2020#XXX;"
         providerName="System.Data.SqlClient"/>
    <add name="MainConnection"
         connectionString="Data Source=DESKTOP-XAA\MSSQL14; Initial Catalog=EcoursDB; Integrated Security=true;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>